* {
	margin: 0px;
	padding: 0px;
	touch-action: none;
}

html, body {
	overflow: hidden;
	height: 100%
	background-color: green;
}

/* Disable intrinsic user agent touch behaviors (such as panning or zooming) */
#drawCanvas {
	display: block;
	border: 1px solid black;
}

#composeCanvas {
	display: block;
	border: 1px solid black;
	background-color: gray;
}

.ObjectWidget {
	background-color: gray
	height: 100px;
	width: 100px;
}

#container {
}

#infodiv {
	display: none;
}
