
* {
	margin: 0px;
	padding: 0px;
	touch-action: none;
}

html, body {
	overflow: hidden;
	height: 100%;
	background-color: #FF0000;
}

/* Disable intrinsic user agent touch behaviors (such as panning or zooming) */
#drawCanvas {
	display: block;
	border: 1px solid black;
}

#composeCanvas {
	display: block;
	border: 1px solid black;
	background-color: #090909;
}

div.objectwidget {
	background-color: #00FF00;
	height: 100px;
}

#container {
}

#infodiv {
	display: none;
}


