<!DOCTYPE html>
<html lang="en">
	<head>
 		<meta charset="UTF-8" />
		<link rel="icon" href="data:,">
		<title>YaDl!</title>
		
		<link rel="stylesheet" type="text/css" href="/static/css/draw.css">
		<script src="https://code.jquery.com/pep/0.4.3/pep.js" defer></script>
		<script src="https://cdn.rawgit.com/mozilla/localForage/master/dist/localforage.js" defer></script>
		<script src="/static/js/main.js" defer></script>

	</head>
	<body>
		<div id="container">
			<div id="composeCanvas1" class="ComposeCanvas" touch-action="none">
				<div class="objectwidget" id="DummyObject" draggable="true">DummyObject</div>
				</div>
			<div id="infoDiv">Info</div>
			<canvas id="drawCanvas1" class="DrawCanvas" touch-action="none"></canvas>
			<button id="commitButton" type="button">commit</button>
			<button id="undoButton" type="button">undo</button>
		</div>
	</body>
</html>
